body{
    background-color: #050a0f;
}
:root{

    --background:#050a0f;
    --side-bar-dark:#08121a;
    --cards-panel-navy:#0d1822;
    --deep-navy:#081225;
    --blue-accent:#315bff;
    --hover-panel-cards:#111f2a;
    --border-blue-gray:#243746;
    --main-border:#243452;
    --primary-gold-main:#f2b95e;
    --light-gold-hover:#ffd98a;
    --dark-gold-gradients-accents:#a86f28;
    --white:#f5f7fa;
    --soft-whiteL:#cbd5df;
    --muted-gray:#7f8c99;
    --success-green:#31c48d;
    --purple-accent-category-tags:#9b7cff;
}

.header{
    width: 85%;
    height: 180px;
    /* background-color: aqua; */
    margin-left : 130px;
    margin-top : 100px;
  
}

.main{
    padding: 0px;
    margin: 0px;
    
}
.box1{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    background-color:var(--side-bar-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

}
.box1 > a{
    color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box2{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    background-color:var(--side-bar-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
   margin-left: 10px;
}
.box3{
    width: 120px;
    height: 50px;
    border-radius: 40px;
   background-color:var(--side-bar-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
   margin-left: 10px;
}
.box4{
    width: 120px;
    height: 50px;
    border-radius: 40px;
   background-color:var(--side-bar-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
}
.box5{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    background-color:var(--side-bar-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  margin-left: 10px;
}
.box6{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    background-color:var(--side-bar-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
   
    margin-left: 10px;
}
.box2 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box3 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box4 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box5 > a{
    color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box6 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box7 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box8 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box9 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box10 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box11 > a{
    color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box12 > a{
     color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box13 > a{
    color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.box14 > a{
   color:var(--dark-gold-gradients-accents);
    font-weight: bolder;
    text-decoration: none;
}
.header{
    /* background-image:url(../images/pic\ 2.jpg); */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
    height:300px;
    padding: 30px;
    /* border-radius: 30px; */
    /* background-size:100*100; */
    background-position: center;
    /* border-radius: 50px; */
}
.header img{
    border-radius: 30px;
      background-image: url(../images/panda.jpg);
    object-fit: cover;
    background-size: 100% auto;
    overflow: hidden;
    border: none;
    outline: none;
    border : none;
}

.main2{
    display: flex;
    justify-content: center;
    
}
.box7{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 4px solid #2d2433;
}
.box8{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 4px solid #2d2433;
}
.box9{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 4px solid #2d2433;
}
.box10{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 4px solid #2d2433;
}
.box11{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 4px solid #2d2433;
}
.box12{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #2d2433;
    margin-bottom: 15px;
}
.box13{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #2d2433;
    margin-bottom: 15px;
}
.box14{
     width: 120px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #2d2433;
    margin-bottom: 15px;
}
.box1:hover{
    transform: scale(1.1);
   transition-duration: 1s;
}
.box2:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box3:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box4:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box5:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box6:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box7:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box8:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box9:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box10:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box11:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box12:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box13:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}
.box14:hover{
     transform: scale(1.1);
   transition-duration: 1s;
}